In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("./properatti.csv", index_col=0)
data.shape

(121220, 25)

### Vistas iniciales del dataset de Properatti

In [3]:
data.sample(5)

,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,lon,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
8116,sell,house,Berazategui,|Argentina|Bs.As. G.B.A. Zona Sur|Berazategui|,Argentina,Bs.As. G.B.A. Zona Sur,3436042.0,"-34.8024,-58.166574",-34.802400,-58.166574,...,165.0,1657.894737,1909.090909,NaN,NaN,NaN,http://www.properati.com.ar/15zx8_venta_casa_a...,Venta de Casa 5 AMBIENTES en Altos de HudsonPB...,"Casa | Altos de Hudson, Altos de Hudson I",https://thumbs4.properati.com/7/lcv1zql9X7Jvb1...
113795,sell,apartment,Mar del Plata,|Argentina|Buenos Aires Costa Atlántica|Mar de...,Argentina,Buenos Aires Costa Atlántica,3430863.0,"-38.0051554,-57.5444733",-38.005155,-57.544473,...,26.0,NaN,2300.000000,NaN,1.0,NaN,http://www.properati.com.ar/1c8xa_venta_depart...,DEPARTAMENTO DE UN AMBIENTE A LA CALLE.AMBIENT...,AMBIENTE EXTERNO VISTA AL MAR,https://thumbs4.properati.com/1/Cib-285e0TZAZ4...
40975,sell,apartment,Moreno,|Argentina|Bs.As. G.B.A. Zona Oeste|Moreno|Mor...,Argentina,Bs.As. G.B.A. Zona Oeste,3430550.0,"-34.655857,-58.788829",-34.655857,-58.788829,...,61.0,NaN,1442.622951,2.0,3.0,NaN,http://www.properati.com.ar/18sz9_venta_depart...,Corredor Responsable: Raul Hector Merlo - CMCP...,3 ambientes en Torre con vistas y jardin - Moreno,https://thumbs4.properati.com/1/Rz7iCCqh134yy3...
66863,sell,PH,Lanús,|Argentina|Bs.As. G.B.A. Zona Sur|Lanús|Lanús|,Argentina,Bs.As. G.B.A. Zona Sur,NaN,NaN,NaN,NaN,...,119.0,NaN,798.319328,NaN,NaN,NaN,http://www.properati.com.ar/1aeh9_venta_ph_lan...,Muy buen departamento tipo casa!Planta baja: C...,PH de 4 ambientes en 2 pantas - Lanus Oeste Ce...,https://thumbs4.properati.com/2/LxSm9_HZZ4gHXU...
61062,sell,apartment,Villa Crespo,|Argentina|Capital Federal|Villa Crespo|,Argentina,Capital Federal,3427458.0,"-34.5884588,-58.4286853",-34.588459,-58.428685,...,73.0,1886.792453,2739.726027,NaN,4.0,2100.0,http://www.properati.com.ar/1a4sx_venta_depart...,"4 AMBIENTES CON 2 PATIOS, EN VENTA, EN VILLA C...",DEPARTAMENTO EN VENTA,https://thumbs4.properati.com/8/xuu3m9PC9F5CCQ...

In [4]:
data.dtypes

operation                      object
property_type                  object
place_name                     object
place_with_parent_names        object
country_name                   object
state_name                     object
geonames_id                   float64
lat-lon                        object
lat                           float64
lon                           float64
price                         float64
currency                       object
price_aprox_local_currency    float64
price_aprox_usd               float64
surface_total_in_m2           float64
surface_covered_in_m2         float64
price_usd_per_m2              float64
price_per_m2                  float64
floor                         float64
rooms                         float64
expenses                      float64
properati_url                  object
description                    object
title                          object
image_thumbnail                object
dtype: object

#### Análisis de datos faltantes

In [5]:
missing_data = data.isna().sum(axis=0)
missing_data_df = pd.DataFrame(missing_data, columns=['count'])
missing_data_df['perc'] = (missing_data_df / data.shape[0]).round(2)*100
missing_data_df.sort_values(ascending=False, by='count')

                             count  perc
floor                       113321  93.0
expenses                    106958  88.0
rooms                        73830  61.0
price_usd_per_m2             52603  43.0
lat-lon                      51550  43.0
lat                          51550  43.0
lon                          51550  43.0
surface_total_in_m2          39328  32.0
price_per_m2                 33562  28.0
currency                     20411  17.0
price_aprox_local_currency   20410  17.0
price                        20410  17.0
price_aprox_usd              20410  17.0
surface_covered_in_m2        19907  16.0
geonames_id                  18717  15.0
image_thumbnail               3112   3.0
place_name                      23   0.0
description                      2   0.0
property_type                    0   0.0
state_name                       0   0.0
country_name                     0   0.0
place_with_parent_names          0   0.0
properati_url                    0   0.0
title                            0   0.0
operation                        0   0.0

#### Dispersión de datos

In [6]:
data_dispersion = data.apply(lambda x: x.unique().size)
data_dispersion_df = pd.DataFrame(data_dispersion, columns=['count'])
data_dispersion_df["perc"] = (data_dispersion / data.shape[0]).round(2)*100
data_dispersion_df.sort_values(ascending=True, by='count')

                             count   perc
operation                        1    0.0
country_name                     1    0.0
property_type                    4    0.0
currency                         5    0.0
state_name                      28    0.0
rooms                           32    0.0
floor                          183    0.0
geonames_id                    647    1.0
expenses                       983    1.0
surface_covered_in_m2          996    1.0
place_name                    1061    1.0
place_with_parent_names       1164    1.0
surface_total_in_m2           1688    1.0
price                         9747    8.0
price_aprox_local_currency   10365    9.0
price_aprox_usd              10365    9.0
price_per_m2                 25186   21.0
price_usd_per_m2             25567   21.0
lat                          46496   38.0
lon                          46523   38.0
lat-lon                      47204   39.0
title                        72705   60.0
description                 104056   86.0
image_thumbnail             114390   94.0
properati_url               121220  100.0

In [7]:
for col in data.columns:
    if(data[col].nunique() < 100):
        print(col)
        print(data[col].unique())
        print()

operation
['sell']

property_type
['PH' 'apartment' 'house' 'store']

country_name
['Argentina']

state_name
['Capital Federal' 'Bs.As. G.B.A. Zona Sur' 'Buenos Aires Costa Atlántica'
 'Entre Ríos' 'Bs.As. G.B.A. Zona Norte' 'Santa Fe' 'Córdoba'
 'Bs.As. G.B.A. Zona Oeste' 'Misiones' 'Buenos Aires Interior' 'Salta'
 'Neuquén' 'Río Negro' 'San Luis' 'Mendoza' 'Corrientes' 'Chubut'
 'Tucumán' 'La Pampa' 'Chaco' 'San Juan' 'Santa Cruz' 'Tierra Del Fuego'
 'Catamarca' 'Santiago Del Estero' 'Jujuy' 'La Rioja' 'Formosa']

currency
['USD' nan 'ARS' 'PEN' 'UYU']

rooms
[nan  1.  4.  3.  2.  6.  5. 10.  7.  9.  8. 17. 22. 15. 12. 11. 14. 16.
 20. 13. 25. 19. 30. 18. 32. 24. 31. 21. 29. 27. 23. 28.]

# Ideas y dudas
- corroborar si place_with_parent_names coincide con place_name, country_name, country_name
- ¿qué es geonames_id? Ver la correlación con lat-lon
- corroborar si lat y lon coinciden con lat-lon
- corroborar si price_aprox_usd y price_aprox_local_currency coinciden o no
- se puede inferir m2desde price_per_m2, price_usd_per_m2