## Importación de los datos

In [2]:
def separator():
    print("")
    print("--------------------------------------------------")
    print("")

In [3]:
import pandas as pd

In [4]:
#cargar y leer el dataset

display('Cargando el dataset...')
data = pd.read_csv('./data/twitter.csv', encoding='ANSI')
data.columns = [ 'target', 'id', 'date', 'flag', 'user', 'text']
display('El dataset tiene {} filas y {} columnas'.format(data.shape[0], data.shape[1]))
display(data.head())
separator()

'Cargando el dataset...'

'El dataset tiene 1599999 filas y 6 columnas'

,target,id,date,flag,user,text
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

--------------------------------------------------

## Analisis exploratorio de los datos

In [5]:
# Check nulls and duplicates
print('Corroborando valores nulos y duplicados')
print('Nulls: ' )
print(data.isnull().sum())
separator()
print('Duplicates: ', data.duplicated().sum())
separator()

Corroborando valores nulos y duplicados
Nulls:
target    0
id        0
date      0
flag      0
user      0
text      0
dtype: int64

--------------------------------------------------

Duplicates:  0

--------------------------------------------------

In [6]:
print('Eliminando columnas innecesarias')
data.drop(['id', 'date', 'flag', 'user'], axis=1, inplace=True)

Eliminando columnas innecesarias

In [7]:
# Rename target
data['target'] = data['target'].map({0: 'negative', 4: 'positive'})

In [8]:
display('Distribución de la variable target:', data.target.value_counts())
separator()

'Distribución de la variable target:'

positive    800000
negative    799999
Name: target, dtype: int64

--------------------------------------------------

In [9]:
#Asignamos las variables X e Y a modelar
X = data.text
y = data.target

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
#Dividimos en train-test
X_train, X_test, y_train, y_test = train_test_split(X, y,stratify=y, test_size=0.3)
print('Train-test split:')
print('X_train: ', X_train.shape)
print('X_test: ', X_test.shape)
print('y_train: ', y_train.shape)
print('y_test: ', y_test.shape)
separator()

Train-test split:
X_train:  (1119999,)
X_test:  (480000,)
y_train:  (1119999,)
y_test:  (480000,)

--------------------------------------------------

In [12]:
# Set matrix as sparse
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

# Vectorize
vectorizer = CountVectorizer()
X_train = vectorizer.fit_transform(X_train)
X_test = vectorizer.transform(X_test)

# Set matrix as sparse
from scipy.sparse import csr_matrix
X_train = csr_matrix(X_train)
X_test = csr_matrix(X_test)